<div class="main">
    <div class="adding">
        <form enctype="multipart/form-data" method="POST" action="/addItem">
            <div class="form1">
                <b>Nazwa: </b>
                <input type="text" name="nazwa" required>
            </div>
            <div class="form1">
                <b>Kategoria: </b>
                <br>
                <select name="kategoria">
                    <option value="zawieszenia">ZAWIESZENIA</option>
                    <option value="felgi">FELGI</option>
                </select>
            </div>
            <div class="form1">
                <b>Cena (zł): </b>
                <input type="number" name="cena" required>
            </div>
            <div class="form1" style="width: 200px; border: none;">
                <b>Zdjęcie: </b>
                <br>
                <input type="file" required accept="image/jpg" name="zdjecie">
            </div>
            <button type="submit" class="bt1">DODAJ</button>
        </form>
    </div>
</div>  